* {
  box-sizing: border-box;
  max-height: 3000px; }

header .img-header {
  height: 280px;
  width: 98.5%;
  margin-left: 0.78%; }
header .navigation {
  height: 60px;
  justify-content: center;
  margin-left: 0.78%;
  width: 98.5%;
  background-color: white;
  margin-bottom: 0px;
  margin-top: -10px; }
  header .navigation nav ul li {
    display: inline-block;
    float: left;
    list-style-type: none;
    margin-left: 11%;
    font-size: 24px;
    margin-top: 10px; }

body .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-height: 1800px;
  max-width: 100%;
  width: 100%;
  margin: 0px;
  justify-content: center;
  margin-top: 0.5rem; }
body .aktivitet_flex-1 {
  margin: 1.0rem;
  width: 40%;
  height: 300px;
  margin-bottom: 5rem; }
  body .aktivitet_flex-1 img {
    width: 100%;
    max-height: 300px;
    transition: 0.5s; }
    body .aktivitet_flex-1 img:hover {
      opacity: 0.5; }
body .aktivitet_flex-2 {
  margin: 1.0rem;
  width: 40%;
  height: 300px;
  margin-top: -13px; }
  body .aktivitet_flex-2 p {
    width: 100%;
    max-height: 300px;
    font-size: 25px;
    font-family: "Muli"; }
    body .aktivitet_flex-2 p a:link {
      color: #f914ff;
      text-decoration: none; }
body .aktivitet_flex-4 {
  margin: 1.0rem;
  width: 40%;
  height: 300px;
  margin-bottom: 5rem; }
  body .aktivitet_flex-4 img {
    width: 100%;
    max-height: 300px;
    transition: 0.5s; }
    body .aktivitet_flex-4 img:hover {
      opacity: 0.5; }
body .aktivitet_flex-5 {
  margin: 1.0rem;
  width: 40%;
  height: 300px;
  margin-top: -13px; }
  body .aktivitet_flex-5 p {
    width: 100%;
    max-height: 300px;
    font-size: 25px;
    font-family: "Muli"; }
    body .aktivitet_flex-5 p a:link {
      color: #f914ff;
      text-decoration: none; }
body .aktivitet_flex-7 {
  margin: 1.0rem;
  width: 40%;
  height: 300px;
  margin-bottom: 5rem; }
  body .aktivitet_flex-7 img {
    width: 100%;
    max-height: 300px;
    transition: 0.5s; }
    body .aktivitet_flex-7 img:hover {
      opacity: 0.5; }
body .aktivitet_flex-8 {
  margin: 1.0rem;
  width: 40%;
  height: 300px;
  margin-top: -13px; }
  body .aktivitet_flex-8 p {
    width: 100%;
    max-height: 300px;
    font-size: 25px;
    font-family: "Muli"; }
    body .aktivitet_flex-8 p a:link {
      color: #f914ff;
      text-decoration: none; }
body .aktivitet_flex-9 {
  margin: 1.0rem;
  width: 40%;
  height: 300px;
  margin-bottom: 5rem; }
  body .aktivitet_flex-9 img {
    width: 100%;
    max-height: 300px;
    transition: 0.5s; }
    body .aktivitet_flex-9 img:hover {
      opacity: 0.5; }
body .aktivitet_flex-10 {
  margin: 1.0rem;
  width: 40%;
  height: 300px;
  margin-top: -13px; }
  body .aktivitet_flex-10 p {
    width: 100%;
    max-height: 300px;
    font-size: 25px;
    font-family: "Muli"; }
    body .aktivitet_flex-10 p a:link {
      color: #f914ff;
      text-decoration: none; }
body .aktivitetbrand_flex-1 {
  margin: 1.0rem;
  width: 72%;
  height: 200px; }
  body .aktivitetbrand_flex-1 h1 {
    font-family: "Muli";
    font-size: 55px;
    text-align: center; }
body .aktivitetbrand_flex-2 {
  margin: 1.0rem;
  width: 40%;
  height: 300px;
  float: left; }
  body .aktivitetbrand_flex-2 img {
    width: 100%;
    max-height: 300px; }
body .aktivitetbrand_flex-3 {
  margin: 1.0rem;
  width: 40%;
  height: 300px;
  float: left;
  margin-top: -3px;
  margin-bottom: 120px; }
  body .aktivitetbrand_flex-3 h1 {
    width: 100%;
    max-height: 300px;
    font-size: 20px;
    font-family: "Muli"; }
  body .aktivitetbrand_flex-3 p {
    width: 100%;
    max-height: 300px;
    font-size: 15px;
    font-family: "Muli"; }
body .aktivitetbrand_flex-4 {
  margin: 1.0rem;
  width: 40%;
  height: 300px;
  float: left; }
  body .aktivitetbrand_flex-4 img {
    width: 100%;
    max-height: 300px;
    margin-left: -317px;
    margin-top: -80px; }

/*# sourceMappingURL=style.css.map */
